/* Remove focus, hover, and active color for the collapse component */
.collapse:focus,
.collapse:hover,
.collapse:active {
  outline: none; /* Remove default focus outline */
  background-color: transparent !important; /* Set background color to transparent */
}

/* Remove focus, hover, and active color for NavLink */
.NavLink:focus,
.NavLink:hover,
.NavLink:active {
  outline: none; /* Remove default focus outline */
  background-color: transparent !important; /* Set background color to transparent */
  color: pink !important; /* Set the desired text color */
}
.menu :where(li ul) {
  margin-inline-start: 0;
  padding-inline-start: 0;
}
.menu :where(li ul):before {
  background-color: transparent !important;
}
.collapse-title {
  min-height: 0;
}
.menu :where(li:not(.menu-title) > *:not(ul):not(details):not(.menu-title)){
  gap:0;
}
:where(.collapse > input[type="checkbox"]){
  min-height: 0.75rem;
}