::-webkit-scrollbar {
  width: 4px;
  margin-left: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #cbd5e0;
}

.titleCon{
  background-image: url('../../../../../public/bgImage.jpg');
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
}
.react-tabs__tab--selected {
  background: rgb(10, 169, 10) !important;
  border-radius: 9999px !important;
  color: white !important;
}

