/* Remove focus, hover, and active color for the collapse component */
.navlink:focus,
.navlink:hover,
.navlink:active {
  outline: none; /* Remove default focus outline */
  background-color: transparent !important; /* Set background color to transparent */
}

/* Remove focus, hover, and active color for NavLink */
.NavLink:focus,
.NavLink:hover,
.NavLink:active {
  outline: none; /* Remove default focus outline */
  background-color: transparent !important; /* Set background color to transparent */
  color: pink !important; /* Set the desired text color */
}
.menu :where(li ul) {
  margin-inline-start: 0;
  padding-inline-start: 0;
}
.menu :where(li ul):before {
  background-color: transparent !important;
}
.collapse-title {
  min-height: 0;
}
