@tailwind base;
@tailwind components;
@tailwind utilities;

.category-button{
    /* flex: 1 1 0%; */
    text-align: center;
    cursor: pointer;
}

.category-button-selected{
    background: rgb(10, 169, 10) !important;
    border-radius: 9999px !important;
    color: white !important;
}
.table :where(thead, tfoot) {
    font-size:1rem;
   
}
.scanner-shadow{
    box-shadow: 0px 0px 43px 10px rgba(60,81,194,0.79);
-webkit-box-shadow: 0px 0px 43px 10px rgba(60,81,194,0.79);
-moz-box-shadow: 0px 0px 43px 10px rgba(60,81,194,0.79);
}

/* Product Entry page css  */
.product-custom-size{
    cursor: pointer;
    
}
.product-custom-size {
    height: 30px;
}

.product-custom-size button {
    display: none;
    transition: width 3s;
    transition-delay: 3s;
}

.product-custom-size:hover button {
    display: block;
    transition-delay: 2s; 
}

/* scanner products css  */
/* .hoverEffect{
    position: relative;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.hoverEffect:hover>::before{
    position: absolute;
    background-color: #06B6D4;
    content: '';
    top: -32px;
    right: 0;
    height: 55%;
    width: 38%;
    right: -10px;
    transform: rotate(305deg);
    -webkit-transform: rotate(305deg);
    -moz-transform: rotate(305deg);
    -ms-transform: rotate(305deg);
    -o-transform: rotate(305deg);
    text-align: center;
} */


.activeClass{
    border-radius:0% 100% 0% 100% / 0% 0% 100% 100%;
    background: #27e3b4;
    background-image: linear-gradient(45deg, #3acedf 0%, #f6c2e1 100%);
    box-shadow: -10vmin 10vmin #ffffff12;
    width: 40px;
    height: 40px;
}


